Documentos XML dos acetatos/AddressList.dtd

<!ELEMENT ADDRESSLIST ( ADDRESS)+>

<!ELEMENT ADDRESS ( WORK+, HOME?)>
<!ATTLIST ADDRESS NAME  CDATA #REQUIRED>

<!ELEMENT WORK ( STREET, CITY, STATE, COUNTRY)>
<!ELEMENT HOME ( STREET, CITY, STATE, COUNTRY )>

<!ELEMENT STREET ( #PCDATA )>
<!ELEMENT CITY ( #PCDATA )>
<!ELEMENT STATE ( #PCDATA) >
<!ELEMENT COUNTRY ( #PCDATA)>